.section {
  padding: 6.4rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--grey-24);
}

.container {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2.4rem;
}

.container .text {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.container .text p {
  margin-bottom: 2.4rem;
}

.container .text a {
  font-weight: 500;
  color: var(--brand-color-secondary);
}

.hidden {
  display: none;
} 

.sectionTitle {
  font-size: var(--section-title);
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.divider {
  height: 1px;
  background: var(--grey-88);
  margin: 0 1.6rem;
}

@media only screen and (min-width: 900px) {
  .section  {
    margin: auto;
    max-width: 100rem;
  }
  
  .sectionTitle {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin-bottom: 4rem;
  }

  .section.section1 .container,
  .section.section3 .container {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .section.section1 .text {
    order: 0;
    padding-right: 5.2rem;
  }

  .section.section1 .image {
    order: 1;
  }

  .section.section1 .sectionTitle {
    width: 70%;
    min-width: 70%;
  }

  .section.section1, 
  .section.section3  {
    text-align: left;
  }

  .section.section2 .sectionTitle {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }

  .section.section3 .image {
    padding-right: 4.4rem;
  }

  .section.section4 .text {
    margin-bottom: 6.4rem;
  }

  .section.section4 .text p,
  .section.section5 .text p {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .hidden {
    display: block;
  }

  .divider {
    margin: auto;
    max-width: 80rem;
  }
}